@model PhamThuHa.Models.HocSinh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HocSinh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLopHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLopHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaLopHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaLopHoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaLopHoc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
